<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <title>Tutorial</title>
    </head>
    <body>

        <h1 class ="text-center">Skin Cancer Detection</h1>
        <form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data">
            <input class="form-control" width="100" height="100" type="file" name ="imagefile">
            <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
        </form>
        {% if prediction %}
            <p class="text-center"> Image is a {{prediction}} </p>
        {% endif %}
    </body>
</html>


